{% extends 'partial/adminbase.html' %}
{% load static %}

{% block content %}
<h2>{% if product %}Edit{% else %}Add{% endif %} Vehicle</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <fieldset>
        <legend>Vehicle Details</legend>
        {{ form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Vehicle Images</legend>
        {{ image_formset.management_form }}
        {% for form in image_formset %}
            {{ form.as_p }}
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Vehicle Documents</legend>
        {{ doc_formset.management_form }}
        {% for form in doc_formset %}
            {{ form.as_p }}
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Terms & Conditions</legend>
        {{ terms_formset.management_form }}
        {% for form in terms_formset %}
            {{ form.as_p }}
        {% endfor %}
    </fieldset>

    <button type="submit">Save</button>
</form>
{% endblock %}
