{% extends 'partial/base.html' %}
{% load static %}

{% block content %}

<form id="payment-form" action="https://checkout.skypay.dev" method="POST">
    <input type="hidden" name="api_key" value="{{ 273234191 }}">
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="code" value="{{ order_code }}">
    <input type="hidden" name="success_url" value="{{ success_url }}">
    <input type="hidden" name="failure_url" value="{{ failure_url }}">
    <button type="submit" style="display:none;">Submit Payment</button>
</form>

<script type="text/javascript">
    document.getElementById("payment-form").submit();  // Auto-submit the form
</script>


{% endblock %}